<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title th:text="#{avaliacao.disc.title}" />
</head>

<body>
    <div layout:fragment="content">
        <div class="d-flex flex-wrap mb-4">
            <h1 th:text="#{avaliacao.disc.title}" class="flex-grow-1" />
            <div>
                <a th:href="${requestUri}" th:text="#{avaliacao.add.back}" class="btn btn-secondary" />
            </div>
        </div>
        <div th:replace="~{fragments/forms::globalErrors('avaliacao')}"></div>
        <form th:action="${requestUri}" method="post">
            <div th:each="pergunta, ip : ${avaliacao.perguntaList}">
                <h4 th:text="${ip.index+1 + ' - ' + pergunta.questao}" class="flex-grow-1 mb-3" />
                <div th:each="opcao, i : ${pergunta.opcoes}">
                    <div class="col-md-6 mb-3">
                        <input th:id="${'opcao-' + i.index}"
                               th:text="*{avaliacao.perguntaList[__${ip.index}__].opcoes[__${i.index}__].descricao}"
                               th:field="*{avaliacao.perguntaList[__${ip.index}__].opcoes[__${i.index}__].descricao}"
                               th:value="*{avaliacao.perguntaList[__${ip.index}__].opcoes[__${i.index}__].descricao}" type="radio"
                               class="form-check-input" />
                    </div>
                </div>
            </div>
            <input type="submit" th:value="#{avaliacao.resposta.finalizar}" class="btn btn-primary mt-4" />
        </form>
    </div>
</body>

</html>