<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title th:text="#{pergunta.add.headline}" />
</head>

<body>
    <div layout:fragment="content">
        <div class="d-flex flex-wrap mb-4">
            <h1 th:text="#{pergunta.add.headline}" class="flex-grow-1" />
            <div>
                <a th:href="@{/perguntas}" th:text="#{pergunta.add.back}" class="btn btn-secondary" />
            </div>
        </div>
        <div th:replace="~{fragments/forms::globalErrors('pergunta')}" />
        <form th:action="${requestUri}" method="post">
            <div th:replace="~{fragments/forms::inputRow(object='pergunta', field='questao')}" />
            <div th:replace="~{fragments/forms::inputRow(object='pergunta', field='ajuda')}" />
            <div th:replace="~{fragments/forms::inputRow(object='pergunta', field='tipoPergunta', type='radio')}" />

            <button type="button" id="addOpcao" class="btn btn-primary">Adicionar Nova Opção</button>

            <div id="opcoesDiv">
                <div th:each="opcao, iterStat : ${pergunta.opcoes}" class="form-group opcao">
                    <label th:for="'opcao-' + ${iterStat.index}" th:text="${'Opção ' + (iterStat.index + 1)}"
                        class="form-check-label">
                        <span th:text="${'Opção ' + (iterStat.index + 1)}" /><span />
                    </label>
                    <div
                        th:replace="~{fragments/forms::inputRow(object='pergunta.opcoes[__${iterStat.index}__]', field='opcoes[${iterStat.index}]')}">
                    </div>
                </div>
            </div>

            <input type="submit" th:value="#{pergunta.add.headline}" class="btn btn-primary mt-4" />
        </form>
    </div>
</body>

</html>

<script th:inline="javascript">
    function adicionarOpcao() {
        var opcoesDiv = document.querySelector("#opcoesDiv");
        var numOpcoes = document.querySelectorAll(".opcao").length;

        var divOpcao = document.createElement("div");
        divOpcao.classList.add("col-md-10", "offset-md-2");

        var novaRow = document.createElement("div");
        novaRow.classList.add("row", "mb-3");

        var label = document.createElement("label");
        label.setAttribute("for", "opcao-" + numOpcoes);
        label.classList.add("col-form-label", "col-md-2");
        label.textContent = "Opção " + (numOpcoes + 1);

        var divInput = document.createElement("div");
        divInput.classList.add("col-md-10");

        var input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("name", "opcoes[" + numOpcoes + "]");
        input.setAttribute("id", "opcao-" + numOpcoes);
        input.classList.add("form-control");

        divInput.appendChild(input);

        novaRow.appendChild(label);
        novaRow.appendChild(divInput);
        opcoesDiv.appendChild(novaRow);

        opcoesDiv.appendChild(divOpcao);
    }

    document.querySelector("#addOpcao").addEventListener("click", adicionarOpcao);
</script>