<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
    <title th:text="#{home.index.headline}" />
</head>

<body>
    <div layout:fragment="content">
        <h1 th:text="#{home.index.headline}" class="mb-4" />
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img class="card-img-top" th:src="@{/images/avaliacoes.jpg}" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Avaliações</h5>
                            <p class="card-text">Clique aqui para ver as avaliações disponíveis para você realizar</p>
                            <a th:href="@{'avaliacaos/avaliacoes-para-responder/' + ${user.id}}"
                                class="btn btn-primary mt-auto">Vizualizar avaliações</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img class="card-img-top" th:src="@{/images/cargos.jpg}" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Cargos</h5>
                            <p class="card-text">Gerencie o módulo de cargos</p>
                            <a href="#" class="btn btn-primary mt-auto">Gerenciar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img class="card-img-top" th:src="@{/images/usuarios.jpg}" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Usuários</h5>
                            <p class="card-text">Gerencie o módulo de Usuarios</p>
                            <a href="#" class="btn btn-primary mt-auto">Gerenciar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img class="card-img-top" th:src="@{/images/turmas.jpg}" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Turmas</h5>
                            <p class="card-text">Gerencie o módulo de Turmas</p>
                            <a href="#" class="btn btn-primary mt-auto">Gerenciar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img class="card-img-top" th:src="@{/images/Perguntas.png}" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Perguntas</h5>
                            <p class="card-text">Gerencie o módulo de Perguntas</p>
                            <a href="#" class="btn btn-primary mt-auto">Gerenciar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>